@using Byldit.Web.Configs
@using System.Web.Helpers
@{
    ViewBag.Title = "Byldit";
}
@section header
{
    @*<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />*@
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map-canvas {
            height: 100%;
        }
    </style>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlZMdkkoh0DdR8d06ifz0JeREYVdPsmpU&sensor=true&libraries=geometry">
    </script>
    <script type="text/javascript">
        function initialize() {
            mobileServicesUrl = "@GlobalConfig.GetString( "AzureMobileServiceUrl" )";
            mobileServicesKey = "@GlobalConfig.GetString( "AzureMobileServiceKey" )";
            
            var mapOptions = {
                center: new google.maps.LatLng(locLat, locLon),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            googleMap = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            
            google.maps.event.addListener(googleMap, 'click', function (event) {
                placeMarker(event.latLng);
            });

            getLocation();
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
<h3 style="display: inline;">You are logged in as:
    <div class="userName" style="display: inline;"></div>
</h3>

<br />
<br />
<b>Login with:</b>
<a href="javascript:login(&quot;facebook&quot;)">Facebook</a> |
<a href="javascript:login(&quot;twitter&quot;)">Twitter</a> |
<a href="javascript:login(&quot;google&quot;)">Google</a>

<br />
<a href="javascript:loadPins()">Load Pins</a>

<div id="map-canvas" />
