<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Byldit</title>

    <link rel="stylesheet" type="text/css" href="~/Content/emailform/style.css">
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/style_ie7.css?011320121402" /><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <script type="text/javascript" async="" src="~/Content/emailform/ga.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34240974-1']);
        _gaq.push(['_setDomainName', 'byld.it']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <style type="text/css"></style>
</head>

<body class="teaser-page" id="dummybodyid">



    <div class="bg"></div>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <img src="~/Content/emailform/byldit_logo.png" width="444" height="553">
                <p>
                    BYLDIT
                </p>

            </div>
        </div>
    </div>
    <footer>
        <p>&#169; 2013 Byldit</p>
        <ul>
            <li class="hide-mobile"><a href="https://twitter.com/byldit">@@byldit</a></li>
            <li><a href="http://byldit.tumblr.com">Blog</a></li>
        </ul>
    </footer>

    <div class="diigolet notice" id="diigolet-notice" style="display: none;">
        <div><b>&nbsp;</b><p>Ok, done!</p>
            <span id="close"></span></div>
    </div>
    <div id="diigolet-csm2" style="position: absolute; display: none;"><a id="diigolet-csm-highlight2" href="javascript:void(0);"></a><a id="diigolet-csm-search2" href="javascript:void(0);"></a>
        <div id="diigolet-csm-color"><a class="diigolet-csm-coloritem" id="diigolet-csm-yellow"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-blue"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-green"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-pink"></a></div>
    </div>
</body>
</html>
