body {
   font-size: .85em;
   font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
   color: #232323;
   background-color: #fff;
}

header, footer, nav, section {
   display: block;
}

#topBarContainer {
   width: 100%;
   margin: 0 auto;
}

#content {
   height: 100%;
   width: 100%;
   position: fixed;
   top: 47px;
   left: 0;
}

.lockedHeader {
   margin: 0;
   background: #3b8daf url(Images/byldit-header-background-teal.png) repeat;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 47px; /* Height of the footer */
}

.title-bar-link {
   text-decoration: none;
}

   .title-bar-link:hover {
      text-decoration: underline;
   }

.title-bar-text {
   font-size: 1.0em;
   color: white;
}

.signOutTextPadding {
   margin-top: 5px;
}

.signInTextBig {
   margin-top: 3px;
   font-size: 1.5em;
   color: white;
}

.float-right {
   float: right;
   white-space: nowrap;
}

.float-left {
   float: left;
   white-space: nowrap;
}

.bar-right-content {
   height: 47px;
   line-height: 47px;
   font-weight: bold;
}

.bar-left-content {
   height: 47px;
   line-height: 47px;
   font-weight: bold;
}

.socialButton {
   margin-right: 7px;
}

.loginContainer {
   margin-left: 15px;
   margin-top: 15px;
}

.horiz-center {
   text-align: center;
}

.loginButton {
   margin-right: 15px;
}

.small-social-button {
   margin-right: 5px;
}

.socialPaddingNotSignedIn {
   margin-right: 10px;
}

.logoPadding {
   margin-left: 5px;
   margin-right: 25px;
}

.vertMiddle {
   vertical-align: middle;
}

.providerIcon {
   margin-left: 5px;
}

.searchBox {
   width: 345px;
   margin-left: 8px;
   margin-top: 10px;
}

.infoBubbleBackground {
   background-color: #000000;
   background-color: rgba(0, 0, 0, .8);
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.infoBubbleHeader {
   font-size: 2.0em;
   color: white;
}

.edit-pic {
   margin-left: 7px;
}

.infoBubbleContentContainer {
   margin-bottom: 3px;
   font-size: 1.0em;
   color: white;
   max-height: 150px;
   overflow: auto;
}

.infoBubbleContainer {
   margin-top: 5px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
}

.adContainer {
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 2px;
   text-align: center;
}

.adImage {
   width: 468px;
   border-width: 1px;
   border-color: white;
   border-style: solid;
}

.indentedTagInfo {
   margin-left: 10px;
}

.hashTagContainer {
   margin-bottom: 15px;
}

.hashTag {
   color: white;
   margin-right: 5px;
   text-decoration: none;
}

   .hashTag:hover {
      color: orange;
   }

.more_link_container {
   margin-bottom: 10px;
}

.morelink {
   color: white;
   text-decoration: none;
}

   .morelink:hover {
      color: orange;
   }

.morecontent {
   display: none;
}

.like-star {
   margin-right: 10px;
   vertical-align: middle;
}

.like-text {
   vertical-align: middle;
   color: white;
}

.control-bar {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 15px;
}

.small-social-container {
   position: relative;
   top: 2px;
}

.submitter-container {
   margin-bottom: 3px;
}

.submitter-text {
   font-size: 0.9em;
   color: gray;
}

.submitter-link {
   font-size: 0.9em;
   color: gray;
   text-decoration: none;
}

   .submitter-link:hover {
      color: orange;
   }

.completely-centered {
}

.left-link {
   margin-right: 10px;
}

.sign-in-title {
   font-size: 2.5em;
   color: black;
   margin-bottom: 15px;
}

/* Default class for an overlay */
.ow-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: #000;
  opacity: 0.8;
}

/* Default class for both hidden overlay and modal window */
.ow-closed {
  display: none;
}

/* Default class for modal window */
.default-popup {
  position: fixed;
  z-index: 20;
  width: 500px;
  height: 220px;
  left: 50%;
  top: 50%;

  background-color: #fff
}

.coming-soon {
  position: fixed;
  z-index: 20;
  width: 500px;
  height: 550px;
  left: 50%;
  top: 50%;

  background-color: #fff
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
   border: 1px solid #ddd;
   padding: 0 1.4em 1.4em 1.4em;
   margin: 0 0 1.5em 0;
}

legend {
   font-size: 1.2em;
   font-weight: bold;
}

textarea {
   min-height: 75px;
}

.editor-label {
   margin: 1em 0 0 0;
}

.editor-field {
   margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
   color: #f00;
}

.field-validation-valid {
   display: none;
}

.input-validation-error {
   border: 1px solid #f00;
   background-color: #fee;
}

.validation-summary-errors {
   font-weight: bold;
   color: #f00;
}

.validation-summary-valid {
   display: none;
}
